.bg-menu-theme {
    background-color: #242745 !important;
    color: #c9c8ce;
}

.bg-menu-theme .menu-link, .app-brand-text{
    color: #c9c8ce !important;
}
.app-brand-text{
    color: #fff !important;
    font-weight: 700;
}

.bg-menu-theme .menu-link:hover, .bg-menu-theme .menu-inner .menu-item.open > .menu-link.menu-toggle{
    background: #2d3253 !important;
    color: #c9c8ce;
}
.app-brand-logo.demo {
    width: 38px !important;
    height: 43px !important;
  }

table.table > thead{
    border-bottom: 1px solid #282828 !important;
  }

.modal-heading{
    border-bottom: 1px solid #282828;
    text-transform: uppercase;
  }

.text-underline-dotted{
  text-decoration:underline !important;
  text-decoration-style: dotted !important;
}

.card-datatable [class*="col-md-"] {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

.dataTables_length label{
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

.dataTables_length select {
    width: auto;
    display: inline-block;
}
div.card-datatable [class*="col-md-"] {
  padding-right: 4px !important;
  padding-left: 5px !important;
}

.table th, .table td {
  /* text-transform: uppercase; */
  font-size: 12px !important;
  letter-spacing: 1px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-left: 5px !important;
}

.print-header .m {
  font-weight: 500;
  font-size: 4.2vw;
  border-bottom: 10px;
  color: #000 !important;
  margin-top: 3px;
  line-height: 1;
}



.print-view, .print-view .table th{
  font-size: 9px !important;
  color: #666 !important;

}
.print-view .table td{
  font-size: 9px !important;
  color: #666 !important;
}

.print-header .s {
  color: #000 !important;
  font-weight: 500;
  /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
  font-size: 24px;
  line-height: 1;
}
.font-18 {
  font-size: 18px !important;
}
.align-right{
  text-align: right !important;
}

@media print and (orientation: portrait) {
  .col-md-3 {
      width: 23%;
      display: inline-block;
      margin-bottom: 10px;
  }
}

